<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper">
    <select id="getAll" resultType="com.baizhi.dto.UserDTO">
        select province `name`,count(id) `value` from `user` group by province
    </select>

    <select id="getCount" parameterType="Integer" resultType="Integer">
        select count(id) from `user` where datediff(NOW(),createDate)=#{day}
    </select>

</mapper>